
// Writing Mode
// -------------------------
.wm-htb {
  @include writing-mode(true);
}
.wm-vrl {
  @include writing-mode(false);
}

// Alignment
// -------------------------
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-pre-wrap       { white-space: pre-wrap; }

// Hide text
// -------------------------
.text-hide {
  font: #{0/0} a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Tate-Chu-Yoko
// -------------------------
.tcy {
  @include tcy();
}

// Orientation
// -------------------------
.sideways {
  @include sideways();
}
.upright {
  @include upright();
}

// Font Family
// -------------------------
.fnt-serif {
  font-family: $font-family-serif;
}
.fnt-sans {
  font-family: $font-family-sans-serif;
}
.fnt-maru {
  font-family: $font-family-maru;
}
.fnt-mono {
  font-family: $font-family-monospace;
}
